/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/04/2019, 06:48:16 PM
    Author     : HERNAN
*/

.imgdash {
    
    position: relative;
    width: 470px;
    height: 500px;
    float: left;
    padding: 0px;
    display: none;
   
   
    
}
@media (max-width: 360px) {
    .imgdash {
    
    position: relative;
    width: 280px;
    height: 280px;
   
   
    float: left;
    margin-left: 10%;
    padding: 0px;
   
   
    
}
    
}
@media (min-width: 1417px) {
    .imgdash {
    
    position: relative;
    width: 450px;
    height: 450px;
   
   
    float: left;
    margin-left: 20%;
    padding: 0px;
   
   
    
}
    
}
.contenido{
    background-color: #ffffff;
    margin-top: -20px;
}

.login-box  img{
    
    width: 100%;
  
}
.login-box {
    width: 500px;
}





